::-webkit-scrollbar {
	display: none;
}

::-moz-selection {
	color: white;
	background: #004F49;
}

::selection {
	color: white;
	background: #004F49;
}

html {
	scroll-behavior: auto;
}

body {
	margin: 0;
	background: rgb(245, 245, 245);
	font-family: 'Merriweather', serif;
}

.toolbar {
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 50;
	background-color: white;
	height: 8%;
}

#logo {
	position: absolute;
	left: 20%;
	height: 100%;
}

.landing {
	position: absolute;
	top: 8%;
	height: 66vh;
	width: 100vw;
}

.landing img {
	position: absolute;
	top: 0;
	left: 0;
	height: 66vh;
	width: 100vw;
	object-fit: cover;
}

.landing h1 {
	width: max-content;
	position: absolute;
	left: 60%;
	top: 50%;
	text-align: center;
	color: white;
	font-size: 3.5rem;
	margin: 0;
	cursor: default;
	transform: translate(-50%, 25%);
}

.landing h1:first-of-type {
	left: 50%;
	transform: translate(-50%, -74%);
}

.main-title::before {
	background: #004F49;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	z-index: -1;
	transform-origin: left;
	animation: highlight 4s ease-in-out 0.5s, transition-dir 10s linear 3s;
}

.landing .description {
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 52%;
	width: 50%;
	min-width: 320px;
	font-size: 1.2rem;
}

.overlay {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 66vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
}

@keyframes highlight {
	0% {
		transform: scaleX(0);
	}
	25% {
		transform: scaleX(1);
	}
	75% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes transition-dir {
	from {
		transform-origin: right;
	}
	to {
		transform-origin: right;
	}
}

.landing .back-link {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	font-size: 1.2rem;
	margin: 0;
}

.landing .back-link p {
	margin: 0;
}

.landing h1:focus-visible {
	outline: none;
}

.small-title {
	display: none;
}

@media screen and (max-width: 900px) {
	.big-title {
		display: none;
	}
	.small-title {
		display: block;
		font-size: 2rem !important;
		transform: translate(-50%, -50%) !important;
		top: calc(50% + 10%) !important;
		left: 50% !important;
		width: auto !important;
	}
	.description {
		display: none;
	}
	.landing .back-link {
		top: 80%;
	}
}

.masonry {
	position: absolute;
	top: calc(66vh + 8%);
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin: 2em;
	padding: 0;
	-moz-column-gap: 2rem;
	-webkit-column-gap: 2rem;
	column-gap: 2rem;
	font-size: .85em;
	flex-flow: row;
}

.item {
	display: inline-block;
	background: #fff;
	padding: 1.1em;
	margin: 0 0 2em;
	width: 100%;
	-webkit-transition:1s ease all;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 2px 2px 4px 0 #ccc;
}

a {
	color: #004F49;
	position: relative;
	border-bottom: #004F49;
}

.clickable {
	cursor: pointer;
}

.item img {
	max-width:100%;
}

.item title {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
	width: 100px;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.masonry {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
	.masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media only screen and (min-width: 1201px) {
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	display: none;
}

#overlay img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	object-fit: contain;
	z-index: 100;
}

#next_left, #next_right, #close {
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	background-color: #ffffff;
	text-align: center;
	z-index: 101;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 13px 11px;
	transition: all 0.12s ease-in-out;
}

#next_left:hover, #next_right:hover {
	top: calc(50% - 5px);
	box-shadow: rgb(0, 0, 0, 0.5) 0px 20px 38px, rgb(0, 0, 0, 0.4) 0px 20px 14px;
}

#close:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#next_left {
	left: 3%;
}

#next_right {
	left: 97%;
}

#close {
	top: 2rem;
	left: calc(100% - 2rem);
	width: 2rem;
	height: 2rem;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	box-shadow: none;
}

.icon {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
}

@media only screen and (max-width: 400px) {
	.masonry {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
		margin: 0.5rem;
	}

	.item {
		padding: 5px;
		margin-bottom: 0.5rem;
	}

	#close {
		width: 2rem !important;
		height: 2rem !important;
	}
	#next_left {
		top: 90%;
		left: 15%;
		width: 3.5rem !important;
		height: 3.5rem !important;
	}

	#next_right {
		width: 3.5rem !important;
		height: 3.5rem !important;
		top: 90%;
		left: 85%;
	}

	#close .icon {
		width: 1.3rem;
		height: 1.3rem;
	}

	#next_left .icon, #next_right .icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	#next_left:hover, #next_right:hover {
		top: 90%;
		box-shadow: rgb(0, 0, 0, 0.5) 0px 20px 38px, rgb(0, 0, 0, 0.4) 0px 20px 14px;
	}

}