::-webkit-scrollbar {
	display: none;
}

body {
	font-family: sans-serif;
	margin: 0;
	background: rgba(220,221,223,255);
}

.toolbar {
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 50;
	background-color: rgba(255, 255, 255, 0.8);
	height: 10%;
}

#logo {
	position: absolute;
	left: 20%;
	transform: translate(-50%, -20%);
	height: 120%;
}

.landing {
	position: absolute;
	height: 66vh;
	width: 100vw;
}

.landing img {
	position: absolute;
	top: 0;
	left: 0;
	height: 66vh;
	width: 100vw;
	object-fit: cover;
}

.landing h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: black;
	font-size: 3.5rem;
	margin: 0;
	font-family: 'Merriweather', serif;
}

.landing h1:focus-visible {
	outline: none;
}

@media screen and (max-width: 900px) {
	.landing h1 {
		position: absolute;
		top: 33%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 2rem;
	}
}

.masonry {
	position: absolute;
	top: 66vh;
	-webkit-column-count: 4;
	-moz-column-count:4;
	column-count: 4;
	margin: 2em;
	padding: 0;
	-moz-column-gap: 2rem;
	-webkit-column-gap: 2rem;
	column-gap: 2rem;
	font-size: .85em;
}

.item {
	cursor: pointer;
	display: inline-block;
	background: #fff;
	padding: 1.1em;
	margin: 0 0 2em;
	width: 100%;
	-webkit-transition:1s ease all;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 2px 2px 4px 0 #ccc;
}
.item img {
	max-width:100%;
}

@media only screen and (max-width: 320px) {
	.masonry {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
	.masonry {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
	.masonry {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}
@media only screen and (min-width: 1201px) {
	.masonry {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	display: none;
}

#overlay img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	object-fit: contain;
	z-index: 100;
}

#next_left, #next_right, #close {
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	background-color: #ffffff;
	text-align: center;
	z-index: 101;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 13px 11px;
	transition: all 0.12s;
}

#next_left:hover, #next_right:hover {
	top: calc(50% - 5px);
	box-shadow: rgb(0, 0, 0, 0.5) 0px 20px 38px, rgb(0, 0, 0, 0.4) 0px 20px 14px;
}

#close:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#next_left {
	left: 3%;
}

#next_right {
	left: 97%;
}

#close {
	top: 2rem;
	left: calc(100% - 2rem);
	width: 2rem;
	height: 2rem;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	box-shadow: none;
}

.icon {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
}