::-webkit-scrollbar {
	display: none;
}

::-moz-selection {
	color: white;
	background: #004F49;
}

::selection {
	color: white;
	background: #004F49;
}

html {
	scroll-behavior: auto;
}

body {
	margin: 0;
	background: rgb(255, 255, 255);
	font-family: 'Merriweather', serif;
}

.toolbar {
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 50;
	background-color: white;
	height: 5rem;
}

#logo {
	position: absolute;
	left: 20%;
	height: 100%;
}

.overlay {
	content: "";
	position: absolute;
	top: 5rem;
	left: 0;
	height: 70vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
}

.landing {
	margin-top: 5rem;
	height: 70vh;
	width: 100vw;
}

.landing img {
	top: 5rem;
	left: 0;
	height: 70vh;
	width: 100vw;
	object-fit: cover;
	background-color: white;
}

.landing h1 {
	padding-left: 13px;
	padding-right: 13px;
	width: max-content;
	position: absolute;
	left: 50%;
	top: 30vh;
	text-align: center;
	color: white;
	font-size: 3.5rem;
	margin: 0;
	cursor: default;
	transform: translate(-50%, 25%);
}

.landing h1:first-of-type {
	left: 50%;
	transform: translate(-50%, -74%);
}

.main-title {
	top: 40vh !important;
}

.main-title::before {
	background: #004F49;
	content: "";
	inset: 0;
	position: absolute;
	transform: scaleX(0);
	z-index: -1;
	transform-origin: left;
	animation: highlight 4s ease-in-out 0.5s, transition-dir 10s linear 3s;
}

@keyframes highlight {
	0% {
		transform: scaleX(0);
	}
	25% {
		transform: scaleX(1);
	}
	75% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes transition-dir {
	from {
		transform-origin: right;
	}
	to {
		transform-origin: right;
	}
}

.landing .info {
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 34vh;
	max-height: 30vh;
	width: 50%;
	min-width: 320px;
	font-size: 1.2rem;
	overflow: scroll;
}

.landing .description {
	text-overflow: ellipsis;
	min-width: 320px;
	font-size: 1.2rem;
}

.landing .class {
	text-overflow: ellipsis;
	min-width: 320px;
	font-size: 1.2rem;
}

.landing .materials {
	text-overflow: ellipsis;
	min-width: 320px;
	font-size: 1.2rem;
}

.landing .back-link {
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	border-bottom: 2px solid white;
	position: absolute;
	top: 70vh;
	left: 50%;
	transform: translate(-50%, -200%);
	text-align: center;
	color: white;
	font-size: 1.2rem;
	margin: 0;
	transition: all .5s;
}

.landing .back-link:hover {
	background-color: white;
	color: #004F49;
}

@media screen and (max-height: 800px) {
	.landing .info {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.landing .back-link {
		border-bottom: none;
		text-decoration: underline;
	}
}

.landing .back-link p {
	margin: 0;
}

.landing h1:focus-visible {
	outline: none;
}

.small-title {
	display: none;
}

@media screen and (max-width: 900px) {
	.landing .big-title {
		display: none;
	}
	.landing .small-title {
		display: block;
		font-size: 2rem;
		left: 50%;
		top: 40vh;
		transform: translate(-50%, 25%) !important;
		width: auto;
	}
	.info .materials {
		display: none;
	}
}

a {
	color: #004F49;
	position: relative;
	border-bottom: #004F49;
}

.clickable {
	cursor: pointer;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
	display: none;
}

#overlay img {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 90%;
	object-fit: contain;
	z-index: 100;
}

#next_left, #next_right, #close {
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	background-color: #ffffff;
	text-align: center;
	z-index: 101;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px, rgba(0, 0, 0, 0.4) 0 13px 11px;
	transition: all 0.12s ease-in-out;
}

#next_left:hover, #next_right:hover {
	top: calc(50% - 5px);
	box-shadow: rgb(0, 0, 0, 0.5) 0 20px 38px, rgb(0, 0, 0, 0.4) 0 20px 14px;
}

#close:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

#next_left {
	left: 3%;
}

#next_right {
	left: 97%;
}

#close {
	top: 2rem;
	left: calc(100% - 2rem);
	width: 2rem;
	height: 2rem;
	border: 2px solid white;
	background-color: transparent;
	color: white;
	box-shadow: none;
}

.icon {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
}

@media only screen and (max-width: 400px) {
	#close {
		width: 2rem !important;
		height: 2rem !important;
	}
	#next_left {
		top: 90%;
		left: 15%;
		width: 3.5rem !important;
		height: 3.5rem !important;
	}

	#next_right {
		width: 3.5rem !important;
		height: 3.5rem !important;
		top: 90%;
		left: 85%;
	}

	#close .icon {
		width: 1.3rem;
		height: 1.3rem;
	}

	#next_left .icon, #next_right .icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	#next_left:hover, #next_right:hover {
		top: 90%;
		box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px, rgba(0, 0, 0, 0.4) 0 13px 11px;
	}
}

.masonry {
	margin: auto;
	transition: all .5s ease-in-out;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.masonry {
		width: 90%;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.masonry {
		width: 90%;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
	.masonry {
		width: 90%;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
	.masonry {
		width: 70%;
		margin-top: 3rem;
		margin-bottom: 6rem;
	}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
	.masonry {
		width: 70%;
		margin-top: 3rem;
		margin-bottom: 6rem;
	}
}

.brick {
	position: relative;
	background-color: white;
	margin: 10px 10px 1rem;
	display: inline-block;
	vertical-align: top;
	box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
	/*box-shadow: 2px 2px 4px 0 #ccc;*/
	border-radius: 4px;
}

.brick img {
	float: right;
	max-width: 100%;
	transition: all .5s ease;
	backface-visibility: hidden;
	font-size: 4rem;
	border-radius: 2px;
}

.hover-effect:hover img {
	opacity: .5;
}

.hover-effect h1 {
	font-size: 1.7rem;
	margin: 0;
	padding: 20px 20px 2px;
	position: absolute;
	background-color: transparent;
	color: transparent;
	transition: all .3s;
	word-break: keep-all;
	white-space: nowrap;
	width: calc(100% - 40px);
	overflow: hidden;
	border-bottom: 2px solid transparent;
}

.hover-effect h1:hover {
	color: #004F49 !important;
	background-color: white;
}

.hover-effect h1:hover a {
	color: #004F49 !important;
}

.hover-effect a {
	display: block;
	padding: 3px;
	color: transparent;
	transition: all .3s;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

.hover-effect a:hover {
	color: #004F49 !important;
}

.hover-effect p {
	margin: 4.5rem 20px 20px;
	position: absolute;
	background-color: transparent;
	color: transparent;
	transition: all .3s;
	word-break: break-word;
	width: calc(100% - 40px);
	height: calc(100% - 40px - 4.5rem);
	overflow: hidden;
	text-overflow: ellipsis;
}

.hover-effect:hover a, .hover-effect:hover h1, .hover-effect:hover p {
	color: white;
}

.hover-effect:hover h1 {
	border-bottom: 2px solid white;
}
